


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">

    <h1>Đã lưu vào danh sách hóa đơn</h1>
    
    <a href="@Url.Action("DsFoodNV", "Food")">Quay lại</a>
</body>
</html>
